body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', coursive;
    background-color: #E4F1FF;
    /* align-items: center; */
}
    .dest2 {
        background-color: #BDD8F4;
        border-radius: 5px;
        margin-bottom: 5px;
        padding-left: 4px;
        display: grid;
        grid-template-rows: auto;
        grid-gap: 10px;
    }
    banner {
        display: block;
       
    }
    .inputs{
        width: 50%;
        height: 100%;
        background-color: #E4F1FF;
        border: none;
        border-radius: 5px;
        margin: 0 0 10px 0px ;
    }
    .accordion-body{
        background-color: #BDD8F4;
    }
 .btn-outline-danger{
    width: 10%;
 }
.titles{
    margin-left: 10px;
}
